$background-overlay-right: #00000048;
$background-overlay-left: #000000c9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-image: url("/assets/header_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Navbar
nav.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #358d35;
  width: 100%;
  position: fixed;

  .navbar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    width: 50%;
    height: 5rem;

    a.navbar-brand {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
      display: flex;
      align-items: center;
      flex-direction: row;
      font-family: "Indie Flower", cursive;

      img {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        transform: rotate(45deg);
      }
    }

    button.navbar-toggler {
      border: 1px solid #fff;
      border-radius: 5px;
      background-color: #358d35;
      width: 3.2rem;
      height: 2.5rem;
      padding: 0.2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;

      .bars {
        width: 2rem;
        height: 0.2rem;
        background-color: #fff;
        margin: 0.2rem 0;
      }
    }
  }

  .navbar-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all 0.5s ease-in-out;
    // align-items: center;
    width: 50%;
    height: 5rem;
    overflow: hidden;
    // display: none;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      li {
        padding: 0 1rem;

        a {
          text-decoration: none;
          color: #fff;
        }

        a.active {
          font-weight: 600;
        }
      }
    }
  }
}

// Header
header {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(
    to right,
    $background-overlay-left,
    $background-overlay-right
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
  }
}

// Main
main {
  width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  background-color: #d7f1d7;
  // padding: 2rem 0;
  overflow: hidden;

  .main-header {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    // height: 5rem;
    padding: 1rem 2rem;
    background-color: #6cb96c;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
      margin: 1rem 2rem;
      text-align: center;
    }

    p {
      text-align: center;
      margin: 1rem 2rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #fff;
    }
  }

  article.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    // background-color: #fff;

    form.sorter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 15rem;
      background-color: #fff;
      border-radius: 20px;

      .sort-by-destination {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;

        label {
          font-size: 1.2rem;
          font-weight: 700;
          color: #6cb96c;
          margin: 1rem 0;
        }

        select {
          width: 20rem;
          height: 2.5rem;
          border: 1px solid #6cb96c;
          border-radius: 5px;
          padding: 0.5rem;
          font-size: 1rem;
          font-weight: 400;
          color: #6cb96c;
          background-color: #fff;
          font-family: "Montserrat", sans-serif;
          transition: all 0.5s ease-in-out;
          text-align: center;

          &:focus {
            outline: none;
          }
        }
      }

      .submit-btn {
        button {
          width: 7rem;
          height: 2.5rem;
          border: 1px solid #6cb96c;
          border-radius: 5px;
          margin: 1rem;
          font-size: 1rem;
          font-weight: 400;
          color: #6cb96c;
          background-color: #fff;
          margin: 1rem 0;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-family: "Montserrat", sans-serif;

          &:hover {
            background-color: #6cb96c;
            color: #fff;
          }
        }
      }
    }

    section.main-content-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      // margin: 2rem;
      padding: 2rem 0;
      // background-color: #fff;
      text-align: center;

      p.heading {
        font-size: 1.5rem;
        font-weight: 700;
        color: #6cb96c;
        margin: 1rem 0;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        // border: 1px solid #6cb96c;
        border-radius: 20px 20px 0 0;
        
        thead {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          height: 3rem;
          background-color: #6cb96c;
          border-radius: 20px 20px 0 0;
          
          tr {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 3rem;
            background-color: #6cb96c;
            border-radius: 20px 20px 0 0;
            
            th {
              font-size: 0.9rem;
              font-weight: 700;
              color: #fff;
              text-align: center;
              padding: 0.5rem;
              width: 11%;
              border-radius: 2rem;
              border-radius: 20px 20px 0 0;
            }
          }
        }

        tbody {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
          background-color: #fff;

          tr {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 3rem;
            background-color: #fff;
            border: 1px solid #6cb96c;

            td {
              width: 11%;
              font-size: 0.8rem;
              font-weight: 500;
              color: #6cb96c;
              text-align: center;
              padding: 0.5rem;

              form {
                button {
                  text-align: center;
                  background-color: #d64949;
                  border: none;
                  border-radius: 5px;
                  width: 4rem;
                  height: 2rem;
                  padding: 0.2rem 0;
                  color: #fff;
                  cursor: pointer;
                  transition: background-color 0.2s ease-in-out;

                  &:hover {
                    background-color: #cc2a2f;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  nav.navbar {
    flex-direction: column;

    .navbar-top {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 1rem 0;

      a.navbar-brand {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
      }

      button.navbar-toggler {
        display: flex;
      }
    }

    .navbar-bottom {
      display: flex;
      width: 100%;
      height: 0;
      // display: none;
      opacity: 0;

      ul {
        padding: 1rem 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        li {
          padding: 0 1rem;
          margin-bottom: 1rem;
        }
      }
    }

    .navbar-bottom.active {
      display: flex;
      opacity: 1;
      width: 100%;
      height: 13rem;
      // display: flex;

      ul {
        padding: 1rem 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        li {
          padding: 0 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
