* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-image: url("/assets/header_img.jpg");
  background-size: cover;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #358d35;
  width: 100%;
  position: fixed;
}

nav.navbar .navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  width: 50%;
  height: 5rem;
}

nav.navbar .navbar-top a.navbar-brand {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Indie Flower", cursive;
}

nav.navbar .navbar-top a.navbar-brand img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav.navbar .navbar-top button.navbar-toggler {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #358d35;
  width: 3.2rem;
  height: 2.5rem;
  padding: 0.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

nav.navbar .navbar-top button.navbar-toggler .bars {
  width: 2rem;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.2rem 0;
}

nav.navbar .navbar-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 50%;
  height: 5rem;
  overflow: hidden;
}

nav.navbar .navbar-bottom ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

nav.navbar .navbar-bottom ul li {
  padding: 0 1rem;
}

nav.navbar .navbar-bottom ul li a {
  text-decoration: none;
  color: #fff;
}

nav.navbar .navbar-bottom ul li a.active {
  font-weight: 600;
}

header {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#000000c9), to(#00000048));
  background-image: linear-gradient(to right, #000000c9, #00000048);
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  width: 50rem;
}

header figure p {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

header figure figcaption {
  margin: 1rem;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d7f1d7;
  overflow: hidden;
}

main article.banner {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d7f1d7;
  overflow: hidden;
}

main article.banner section.banner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: #358d35;
}

main article.banner section.banner-header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin: 1rem;
  text-align: center;
}

main article.banner section.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #d7f1d7;
  overflow: hidden;
}

main article.banner section.banner-content section.banner-content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  padding: 1rem;
}

main article.banner section.banner-content section.banner-content-left img {
  width: 35rem;
  border-radius: 20px;
}

main article.banner section.banner-content section.banner-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

main article.banner section.banner-content section.banner-content-right figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

main article.banner section.banner-content section.banner-content-right figure p {
  margin: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #358d35;
}

main article.banner section.banner-content section.banner-content-right figure figcaption {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

main article.banner section.banner-content section.banner-content-right figure figcaption a {
  text-decoration: none;
  color: #358d35;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #358d35;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  nav.navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.navbar .navbar-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem 0;
  }
  nav.navbar .navbar-top a.navbar-brand {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
  }
  nav.navbar .navbar-top button.navbar-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navbar .navbar-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 0;
    opacity: 0;
  }
  nav.navbar .navbar-bottom ul {
    padding: 1rem 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.navbar .navbar-bottom ul li {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  nav.navbar .navbar-bottom.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    width: 100%;
    height: 13rem;
  }
  nav.navbar .navbar-bottom.active ul {
    padding: 1rem 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.navbar .navbar-bottom.active ul li {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */